.card {
  border: $bw solid var(--c-stroke);
  border-radius: $br;
  padding: 1.2em;
  display: inline-block;
  background: transparent;
  box-shadow: 5px 5px 0px 0px var(--c-stroke);
  [data-spacing="compact"] & {
    padding: 1em;
  }
  & > p {
    font-size: var(--ms-0);
    margin-bottom: 0.5em;
  }
}
.card.card--featured {
  $green: #000000;
  border-color: $green;
  box-shadow: 5px 5px 0px 0px $green;
}

.card__actions {
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
  flex-wrap: wrap;
  .newsletter {
    .button {
      margin-right: 0;
    }
  }
  .button {
    margin-right: 0.75em;
  }
}
.card__header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
