.page {
}
.events {
  max-width: $column;
  margin: 0 auto;
  h2 {
    margin-bottom: 0.5em;
  }
}
.events--past {
  .events__item {
    border-bottom: 1px solid var(--c-stroke);
    &:last-of-type {
      border-bottom: none;
    }
  }
}
.events__item {
  list-style: none;
  margin-bottom: 1.7em;
  padding-bottom: 1.7em;
  [data-spacing="compact"] & {
    margin-bottom: 1.2em;
    padding-bottom: 1.2em;
  }
  [data-spacing="generous"] & {
    margin-bottom: 2em;
    padding-bottom: 2em;
  }
  &.future {
    @extend .card;
    margin-bottom: 4em;
  }
  a {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  p {
    @extend %copy;
  }
  .event__date {
    @extend %copy--small;
    display: block;
    margin-bottom: 0.1em;
  }
}
.event__header {
  margin: 0 auto;
  margin-bottom: 1.5rem;
  max-width: $column;
}

.event__thumbnail {
  margin-bottom: 1.5em;
  display: block;
  img {
    display: block;
    max-width: 100%;
    max-height: 30em;
    border-radius: $border-radius-small;
  }
  figcaption {
    display: block;
    opacity: .7;
    padding-top: 0.5rem;
  }
}

.event__intro {
  @extend %copy--big;
  padding-top: 0.25em;
}

.event__description {
  @extend %copy;
  margin-bottom: 2em;
}

.event__status {
  @extend %copy;
  margin-bottom: 0.5em;
  &:last-child {
    margin-bottom: 0;
  }
}

.event__copy {
  max-width: $column;
  margin: 0 auto;
}

.no-events {
  margin-bottom: 3em;
}

.event__data {
  max-width: 30em;
  margin-bottom: 2.5rem;
  .row {
    display: flex;
    margin-bottom: 0.75em;
  }
  .datum {
    margin-right: 2rem;
  }
  .datum__label {
    @extend %copy--small;
  }
  .datum__content {
    font-weight: 500;
    font-size: var(--ms-0);
  }
}

.event__people {
  max-width: $column;
  margin: 0 auto;
  @extend %copy;
  h2 {
    margin-bottom: .5em;
  }
  li {
    margin-bottom: .75em;
  }

}
.person {
  h4 {
    margin-top: 0;
  }
  @extend %copy;
  margin-bottom: 1em;
  line-height: var(--lh);
}

.person {
}
h4.person__name {
  margin-bottom: -0em;
}

.person__bio {
  @extend %copy--small;
  margin-top: -0.4em;
}

p.person__job {
  span {
    display: block;
  }
  margin-bottom: 0;
}
