.event__header {
  margin: 0 auto;
  margin-bottom: 1.5rem;
  max-width: $column;
}

.event__title {
  font-size: var(--ms-4);
  font-weight: 600;
  line-height: 1.1;
}

.event__intro {
  padding-top: 0.25em;
  line-height: 1.2;
  font-size: var(--ms-1);
}

.event__description {
  @extend %bodycopy;
  margin-bottom: 2em;
}

.event__status {
  font-size: var(--ms-0);
  line-height: 1.3;
}

.event__copy {
  max-width: $column;
  margin: 0 auto;
}

.event__data {
  max-width: 35rem;
  margin-bottom: 2.5rem;
  .row {
    display: flex;
    margin-bottom: 0.75em;
   }
  .datum {
    margin-right: 2rem;
  }
  .datum__label {
    letter-spacing: 0.02em;
    font-size: var(--ms--1);
    font-weight: 400;
  }
  .datum__content {
    font-weight: 500;
    font-size: var(--ms-0);
  }
  .button {
    margin-right: 0.5em;
  }
}

.event__data--upcoming {
  background: rgb(233, 237, 241);
}
.event__data--past {
  background: var(--c-event-upcoming);
}

.event__people {
  max-width: $column;
  margin: 0 auto;
  h3 {
    font-size: var(--ms-2);
    margin-bottom: 1rem;
    font-weight: 550;
  }
  ul {
    list-style: none;
  }
}
.person {
  font-size: var(--ms-0);
  margin-bottom: 0.75rem;
  summary {
    cursor: pointer;
    display: block;
    margin-bottom: 0.5rem;
  }
}
.person__name {
  font-weight: 550;
  display: block;
  margin-bottom: -0.1em;
}

.person__bio {
  font-size: var(--ms--1);
}

.person__job {
  font-weight: 420;
  font-size: var(--ms--0);
  span {
    display: block;
  }
}
