* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  padding: 2%;
  padding-bottom: 0;
  background: var(--c-background);
  color: var(--c-text);
  font-family: $sans;
  font-feature-settings: "ss03" 1;
  transition: 160ms;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: 4px solid var(--c-focus);
}

.skip-link {
  display: none;
}

::selection {
}

button {
  -webkit-tap-highlight-color: transparent;
}

summary {
  cursor: pointer;
  display: block;
  position: relative;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
  &:after {
    content: "+";
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    transform-origin: center;
    transition: 100ms;
  }
  [open] &:after {
    transform: translateY(-50%) rotate(45deg);
  }
}

h1 {
  font-weight: 560;
  line-height: 1.2;
  font-size: var(--ms-3);
}

h2 {
  margin-bottom: 1rem;
  font-weight: 560;
  line-height: 1.2;
  font-size: var(--ms-2);
}

h3 {
  margin-bottom: 0.1rem;
  font-weight: 560;
  font-size: var(--ms-1);
}

h4 {
  font-weight: 560;
  font-size: var(--ms-0);
  line-height: 1.2;
  margin-bottom: .2em;
}
