%current {
  background: var(--c-stroke);
  color: var(--c-background);
  &:hover, &:focus {
    background: var(--c-stroke);
    
  }
}

.nav {
  font-size: var(--ms--1);
  span {
    margin-bottom: .3em;
    display: block;
  }
  & > ul {
    display: inline-flex;
    font-weight: 400;
    border: $border-width solid var(--c-stroke);
    border-radius: $border-radius-small;
    box-shadow: 0 2px 0px 1px rgba(black, .1);
    // justify-content: center;
  }
  li {
    display: block;
    list-style: none;
    &:first-of-type a {
      border-top-left-radius: $border-radius-small;
      border-bottom-left-radius: $border-radius-small;
    }
    &:last-of-type a {
      border-top-right-radius: $border-radius-small;
      border-bottom-right-radius: $border-radius-small;
      border-right: 0;
    }
  }
  a {
    display: block;
    padding: 0.5em 0.75em;
    padding-bottom: 0.35em;;
    border-right: $border-width solid var(--c-stroke);
    &:hover,
    &:focus {
      text-decoration: underline;
      background: var(--c-background-shade);
      position: relative;
      z-index: 1000;
    }
  }
  .current-menu-item a {
    @extend %current;
  }
}

.single-event .nav a[href*="/events"]{
  @extend %current;
}