.page__content {
  max-width: $column;
  margin: 0 auto;
}
.page__main {
  @extend %copy;
  margin-bottom: 1.5em;
}
.page__title {
  margin-bottom: .25em;
  font-size: var(--ms-3);  @include bp(m){
    margin-bottom: .5em;
  }

}

.page__intro {
  @extend %copy--big;
  margin-top: -.5em;
  margin-bottom: 1.5em;
}
