.page__content {
  max-width: $column;
  margin: 0 auto;
}
.page__main {
  @extend %copy;
  margin-bottom: 1.5em;
}
.page__title {
  font-size: var(--ms-3);
  margin-bottom: 1em;
}

.page__intro {
  @extend %copy--big;
  margin-top: -1.5em;
  margin-bottom: 1.5em;
}
