.page__content {
  max-width: $column;
  margin: 0 auto;
  main {
    @extend %copy;
    margin-bottom: 1.5em;
  }
}
.page__title {
  font-size: var(--ms-3);
  font-weight: 500;
  margin-bottom: 1em;
}

.page__intro {
  @extend %copy--big;
  margin-top: -.5em;
  margin-bottom: 1.5em;
}