.header {
  max-width: $column;
  margin: 0 auto;
  margin-bottom: 1em;
  font-size: var(--ms-0);
  @include bp(m) {
    margin-bottom: 4em;
    .home & {
      margin-bottom: 2.5em;
    }
  }
  .row {
    margin-bottom: 1em;
    display: flex;
    align-items: baseline;
  }
  .skip-link {
    position: absolute;
    top: 2.25em;
    opacity: 0;
    font-size: var(--ms--1);
    &:focus {
      opacity: 1;
    }
    @include bp(m) {
      position: static;
      opacity: 1;
    }
  }
  img {
    margin-bottom: 1em;
  }
  .label {
    display: block;
    font-size: var(--ms--1);
    margin-bottom: 0.25em;
  }
}

.header__title {
  font-weight: 500;
  max-width: 28rem;
  margin-right: 1em;
  a {
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.site__logo {
  width: 110%;
  margin-left: -5%;
  margin-top: -1%;
  margin-bottom: -2.5%;
  display: block;
  position: relative;
  z-index: -1000;
  .outline {
    fill: var(--c-text);
  }
}

.footer {
  @extend %copy--small;
  border-top: 1px solid var(--c-stroke);
  display: block;
  padding-top: 2rem;
  padding-bottom: 5rem;
  max-width: $column;
  margin: 0 auto;
  margin-top: 6rem;
  position: relative;
  .logo__container {
    position: absolute;
    margin-top: 1em;
    overflow: hidden;
    width: 100%;
    left: -1rem;
    height: 5em;
    @include bp(m) {
      height: 8em;
      width: 120%;
      left: -10%;
    }
    svg {
      width: 100%;
    }
  }
  .outline {
    fill: var(--c-text);
  }

  .newsletter {
    margin-bottom: 2.5em;
  }
  .newsletter label {
    margin-bottom: 0.5em;
  }
  a {
    text-decoration: underline;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  .copyright {
    p {
      margin-bottom: 0.2em;
    }
  }
}

.footer__section {
  margin-bottom: 0.5em;
}

.footer__nav {
  margin-bottom: 1em;
  display: flex;
  ul {
    margin-right: 2em;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: underline;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.newsletter {
  label {
    @extend %copy--small;
    display: block;
    max-width: 20em;
    margin-bottom: 0.2rem;
  }
  .scroll {
    display: inline-flex;
    border-radius: $border-radius-small;
    border: $border-width solid var(--c-stroke);
    box-shadow: 0 2px 0px 1px rgba(black, 0.1);
  }
  .email {
    padding: 0.5em 0.75em;
    padding-bottom: 0.4em;
    font-family: $sans;
    font-size: var(--ms--1);
    background: var(--c-background);
    color: var(--c-text);
    border-top-left-radius: $border-radius-small;
    border-bottom-left-radius: $border-radius-small;
    &:focus {
      position: relative;
      z-index: 1000;
    }
    &::placeholder {
      opacity: 0.75;
    }
  }
  .button {
    border-radius: 0;
    font-size: var(--ms--1);
  }
}
