.header {
  max-width: $column;
  margin: 0 auto;
  margin-bottom: 1em;
  @include bp(m){
    margin-bottom: 4em;
  }
}

.header__title {
  font-weight: 500;
  font-size: 0;
  max-width: 28rem;
  // margin: 0 auto;
  margin-left: -3%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.footer {
  @extend %copy--small;
  border-top: 1px solid var(--c-stroke);
  display: block;
  padding-top: 2rem;
  padding-bottom: 5rem;
  max-width: $column;
  margin: 0 auto;
  margin-top: 6rem;
  position: relative;
  background-repeat: no-repeat;
  background-position: left 0px bottom -5%;
  @include bp(s){
    background-position: left 0px bottom -25%;
  }

  .newsletter {
    margin-bottom: 2.5em;
  }
  .newsletter label {
    margin-bottom: 0.5em;
  }
}

.footer__section {
  margin-bottom: 0.5em;
}

.footer__pattern {
  position: absolute;
  bottom: -20%;
  z-index: -1000;
}

.footer__nav {
  margin-bottom: 1em;
  display: flex;
  ul {
    margin-right: 2em;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: underline;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.newsletter {
  label {
    @extend %copy--small;
    display: block;
    max-width: 20em;
    margin-bottom: 0.2rem;
  }
  .scroll {
    display: inline-flex;
    border-radius: $border-radius-small;
    border: $border-width solid var(--c-stroke);
    box-shadow: 0 2px 0px 1px rgba(black, 0.1);
  }
  .email {
    padding: 0.5em 0.75em;
    padding-bottom: 0.4em;
    font-family: $sans;
    font-size: var(--ms--1);
    background: var(--c-background);
    color: var(--c-text);
    border-top-left-radius: $border-radius-small;
    border-bottom-left-radius: $border-radius-small;
    &:focus {
      position: relative;
      z-index: 1000;
    }
    &::placeholder {
      opacity: 0.75;
    }
  }
  .button {
    border-radius: 0;
    font-size: var(--ms--1);
  }
}
