.header {
  max-width: $column;
  margin: 0 auto;
  margin-bottom: 1em;
  font-size: var(--ms-0);
  @include bp(m) {
    margin-bottom: 4em;
    .home & {
      margin-bottom: 2.5em;
    }
  }
  .row {
    margin-bottom: 1em;
    display: flex;
    align-items: baseline;
  }
  .skip-link {
    font-size: var(--ms--1);
  }
  img {
    margin-bottom: 1em;
  }
  .label {
    display: block;
    font-size: var(--ms--1);
    margin-bottom: 0.25em;
  }
}

.header__title {
  font-weight: 500;
  max-width: 28rem;
  margin-right: 1em;
  a {
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.site__logo {
  .cls-1,
  .cls-3 {
    isolation: isolate;
  }
  .cls-2 {
    font-size: 22.3px;
    font-family: Plex, sans-serif;
    fill: var(--c-text);
  }
  .cls-3 {
    fill: none;
    stroke: var(--c-text);
    stroke-miterlimit: 10;
    stroke-width: 0.5px;
    opacity: 0.7;
  }
  .cls-4 {
    fill: #70bd89;
  }
  .cls-10,
  .cls-4,
  .cls-5,
  .cls-6,
  .cls-7,
  .cls-8,
  .cls-9 {
    mix-blend-mode: multiply;
  }
  .cls-5 {
    fill: #939ed0;
  }
  .cls-6 {
    fill: #ffed00;
  }
  .cls-7 {
    fill: #36a9e1;
  }
  .cls-8 {
    fill: #b17f4a;
  }
  .cls-9 {
    fill: #f6b095;
  }
  .cls-10 {
    fill: #a6a6a5;
  }
}

.footer {
  @extend %copy--small;
  border-top: 1px solid var(--c-stroke);
  display: block;
  padding-top: 2rem;
  padding-bottom: 5rem;
  max-width: $column;
  margin: 0 auto;
  margin-top: 6rem;
  position: relative;
  .logo__container {
    position: absolute;
    margin-top: 1em;
    width: 120%;
    left: -10%;
    height: 6em;
    overflow-y: hidden;
  }
  .site__logo {
  }
  .cls-2 {
    display: none;
  }
  .newsletter {
    margin-bottom: 2.5em;
  }
  .newsletter label {
    margin-bottom: 0.5em;
  }
  a {
    text-decoration: underline;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  .copyright {
    p {
      margin-bottom: .2em;
    }
  }
}

.footer__section {
  margin-bottom: 0.5em;
}


.footer__nav {
  margin-bottom: 1em;
  display: flex;
  ul {
    margin-right: 2em;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: underline;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.newsletter {
  label {
    @extend %copy--small;
    display: block;
    max-width: 20em;
    margin-bottom: 0.2rem;
  }
  .scroll {
    display: inline-flex;
    border-radius: $border-radius-small;
    border: $border-width solid var(--c-stroke);
    box-shadow: 0 2px 0px 1px rgba(black, 0.1);
  }
  .email {
    padding: 0.5em 0.75em;
    padding-bottom: 0.4em;
    font-family: $sans;
    font-size: var(--ms--1);
    background: var(--c-background);
    color: var(--c-text);
    border-top-left-radius: $border-radius-small;
    border-bottom-left-radius: $border-radius-small;
    &:focus {
      position: relative;
      z-index: 1000;
    }
    &::placeholder {
      opacity: 0.75;
    }
  }
  .button {
    border-radius: 0;
    font-size: var(--ms--1);
  }
}
