.theme-light_contrast {
  --c-background: rgb(252, 252, 252);
  --c-text: rgb(7, 7, 7);
  --c-link: rgb(0, 62, 233);
}
.theme-dark_contrast {
  --c-background: rgb(0, 0, 0);
  --c-text: rgb(248, 246, 239);
  --c-link: rgb(152, 176, 255);
}
