@mixin bp($point) {
  @if $point==xl {
    @media (min-width: 1850px) {
      @content;
    }
  } @else if $point==l {
    @media (min-width: 1400px) {
      @content;
    }
  } @else if $point==m {
    @media (min-width: 800px) {
      @content;
    }
  } @else if $point==s {
    @media (min-width: 500px) {
      @content;
    }
  } @else if $point==landscape {
    @media (orientation: landscape) {
      @content;
    }
  }
}

$black: #000000;
$sans: "Plex", sans-serif;
$fast: 150ms;
$br: 5px;
$br-small: 3px;
$bw: 1px;
$column: calc(var(--ms-0) * 36);
$bs: 0 2px 0px 1px rgba(black, .1);