%copy {
  font-size: var(--ms-0);
  line-height: calc(var(--lh) * 1.16);
  letter-spacing: 0.018em;
  word-spacing: 0.01em;
  font-weight: 400;
  hyphens: auto;

  [data-spacing="compact"] & {
    word-spacing: -0.02em;
    font-stretch: 98%;
    letter-spacing: 0.015em;
  }
  [data-spacing="generous"] & {
    word-spacing: 0.01em;
    letter-spacing: 0.02em;
  }

  @include bp(s) {
    hyphens: none;
  }
  p,
  ul,
  ol,
  blockquote {
    margin-bottom: calc(var(--lh) * 0.4em);
    [data-spacing="generous"] & {
      margin-bottom: calc(var(--lh) * 0.6em);
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  ul,
  ol {
  }
  ul {
    list-style: none;
    padding-left: 1.2em;
    li {
      position: relative;
    }
    li:before {
      content: "";
      width: 0.55em;
      height: 0.55em;
      display: block;
      left: -1em;
      top: 0.35em;
      border-radius: 100%;
      position: absolute;
      background: var(--c-text);
    }
  }
  li {
    margin-bottom: 0.5em;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  blockquote {
    border-left: 5px solid var(--c-text);
    padding-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  h2 {
    margin-top: 1em;
    margin-bottom: 0.25em;
  }
  h3 {
    margin-top: 2em;
    margin-bottom: 0.25em;
  }
  h4 {
    margin-top: 1.5em;
    margin-bottom: 0.25em;
  }
  strong {
    font-weight: 585;
  }
  a {
    color: var(--c-link);
    text-decoration: underline;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

%copy--big {
  font-size: var(--ms-1);
  font-stretch: 96%;
  line-height: calc(var(--lh) * 1.05);
  font-weight: 400;
  hyphens: auto;
  @include bp(m) {
    hyphens: none;
  }
  strong {
    font-weight: 585;
  }
  [data-spacing="compact"] & {
    letter-spacing: 0.012em;
  }
}

%copy--small {
  font-size: var(--ms--1);
  letter-spacing: 0.012em;
  word-spacing: 0.01em;
  font-stretch: 100%;
  line-height: calc(var(--lh) * 1.1);
  hyphens: auto;
  @include bp(m) {
    hyphens: none;
  }
  strong {
    font-weight: 650;
  }
  p {
    max-width: 38em;
  }
}

body {
  --ratio: 1.3;
  &[data-font-size="small"] {
    --ratio: 1.18;
    --ms-0: clamp(0.9rem, calc(1.25vw + 0.2rem), 1.15rem);
  }
  &[data-font-size="medium"] {
    --ratio: 1.25;
    --ms-0: clamp(1rem, calc(1.5vw + 0.2rem), 1.3rem);
  }
  &[data-font-size="large"] {
    --ms-0: clamp(1.1rem, calc(1.75vw + 0.2rem), 1.5rem);
  }
  &[data-font-size="extra-large"] {
    --ms-0: clamp(1.2rem, calc(2vw + 0.2rem), 1.7rem);
  }

  --ms--1: calc(var(--ms-0) / var(--ratio));
  --ms-1: calc(var(--ms-0) * var(--ratio));
  --ms-2: calc(var(--ms-1) * var(--ratio));
  --ms-3: calc(var(--ms-2) * var(--ratio));
  --ms-4: calc(var(--ms-3) * var(--ratio));
  --ms-5: calc(var(--ms-4) * var(--ratio));
  --ms-6: calc(var(--ms-5) * var(--ratio));
  --ms-7: calc(var(--ms-6) * var(--ratio));
}

h2 {
  font-size: var(--ms-3);
  line-height: calc(var(--lh) * 0.9);
  font-weight: 650;
  font-stretch: 70%;
  @include bp(m) {
    font-weight: 600;
    font-size: var(--ms-4);
    line-height: calc(var(--lh) * .95);
    font-stretch: 96%;
  }
}

h3 {
  font-stretch: 96%;
  font-weight: 560;
  font-size: var(--ms-2);
  line-height: calc(var(--lh) * .9);
}

h4 {
  font-weight: 560;
  font-size: var(--ms-0);
  line-height: calc(var(--lh) * 1);
}
