<footer class="footer" tabindex="-1">
    {% if not is_home %}
    <div class="footer__section">
        <p>
            <strong>Neurodiversity in Albertopolis (<abbr title="Neurodiversity in Albertopolis">NDIA</abbr>)</strong> is a network of neurodiverse staff and students from different institutions around Exhibition Road, London.
        </p>
    </div>
    {% endif %}

    <div class="footer__section">
        {% include "/partial/newsletter-form.twig" with {label: "Join our mailing list for updates on upcoming events and other news.", prefix: "footer"}%}
    </div>

    <nav class="footer__nav">
        {% include "menu.twig" with {'items': menu_primary.get_items} %}
        {% include "menu.twig" with {'items': menu_secondary.get_items} %}
    </nav>
    <p>
        © {{"now"|date('Y')}}
    </p>
    <div class="logo__container">
        {% include "partial/logo.svg" %}
    </div>
</footer>