<footer class="footer">
    <section>
        <p>
            <em>Neurodiversity in Albertopolis</em> is a network of neurodiverse staff and students from different institutions around Exhibition Road. We come together to support each other and work towards an inclusive environment for neurodiverse people across our organisations.
        </p>
    </section>
    <section>
        {% include "/partial/newsletter-form.twig" with {label: "Join our mailing list for updates on upcoming events and other news."}%}
    </section>
    

    <nav class="footer__nav" role="navigation">
        {% include "menu.twig" with {'items': menu.get_items} %}
    </nav>
    <p>
        © {{"now"|date('Y')}}
    </p>
    {% include "/partial/pattern.svg"%}
</footer>