{% extends "base.twig" %}

{% block content %}
<article class="resources">
	<h2>{{post.title}}</h2>
	<ul>
		{% for r in resources %}
		<li class="resources__item">
			<h3 class="resource__title"><a href="{{r.link}}">{{r.title}}</a></h3>
			<p class="resource__description">
				{{r.description}}
			</p>
		</li>
		{% endfor %}
	</ul>
</article>
{% endblock %}