{% extends "base.twig" %}

{% block content %}
<article class="events">
	<h2>{{post.title}}</h2>
	<ul>
		{% for e in events %}
		<li class="events__item">
			<a href="{{e.link}}"><h3>{{e.title}}</h3></a>
			{% if e.short_description %}
			<p>
				{{e.short_description}}
			</p>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
</article>
{% endblock %}