<div class="event__data card event__data--past">
    <div class="row">
        <div class="datum">
            <span class="datum__label">Date and Time</span>
            <p class="datum__content">
                {% include "/partial/dates.twig" with {dates: {start:post.start, end: post.end}}%}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="datum">
            <span class="datum__label">Audience</span>
            <p class="datum__content">{{post.audience}}</p>
        </div>
        <div class="datum">
            <span class="datum__label">Location</span>
            <p class="datum__content">{{post.location}}</p>
        </div>
    </div>
    <div class="card__actions">
        {% if post.recording %}
        <p class="event__status">
            This event is over, but we’ve published a recording of it{% if "vimeo" in post.recording%} on Vimeo{% endif%}{% if "youtube" in post.recording%} on Youtube{% endif %}.
        </p>
        <a href="{{post.recording}}" class="button button--primary">Watch the Recording</a>
        {% else %}
        <p class="event__status">
            This event is over. Join our mailing list to be notified when we publish a recording of it.
        </p>
        {% include "/partial/newsletter-form.twig" with {label: "Your email"}%}
        {% endif %}
    </div>
</div>